
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>course number</title>
</head>
<body>

<!--<form>-->
<!--    <label for="search">Search:</label>-->
<!--    <input type="text" id="search" name="search" />-->
<!--    <label for="groupName">Group Name:</label>-->
<!--    <select id="groupName2" name="groupName" >-->
<!--        <option value="">Select Group</option>-->
<!--        <option value="Group A">Group A</option>-->
<!--        <option value="Group B">Group B</option>-->
<!--        <option value="Group C">Group C</option>-->
<!--    </select>-->

<!--    <label for="faculty">Faculty:</label>-->
<!--    <select id="faculty2" name="faculty" >-->
<!--        <option value="">Select Faculty</option>-->
<!--        <option value="Факультет науки">Факультет науки</option>-->
<!--        <option value="Факультет инжениии">Факультет инжениии</option>-->
<!--        <option value="Факультет искуства">Факультет искуства</option>-->
<!--    </select>-->

<!--    <label for="course">Course:</label>-->
<!--    <select id="course2" name="course" >-->
<!--        <option value="">Select Course</option>-->
<!--        <option value="Course 1">Course 1</option>-->
<!--        <option value="Course 2">Course 2</option>-->
<!--        <option value="Course 3">Course 3</option>-->
<!--    </select>-->
<!--    <label for="groupName">Group Name:</label>-->

<!--    <button type="submit">Search</button>-->
<!--</form>-->



<h1>Список course number</h1>
<form action="/coursenumber/add" method="post">
    <input type="text" name="name" placeholder="Название курса" required>
    <input type="checkbox" name="exist" required> Exists
    <button type="submit">Создать курс</button>
</form>

<h2>Все course number:</h2>

    <ul>
        <th:block th:each="student : ${students}">
            <li>
                <span th:text="${student.name} + ' ' + ${student.exist}"></span>
                <form action="/coursenumber/update" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${student.id}"/>
                    <input type="text" name="name" placeholder="Название факультета" required>
                    <input type="checkbox" name="exist" required> Exists
                    <button type="submit">Обновить</button>
                </form>
                <form action="/coursenumber/delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${student.id}"/>
                    <button type="submit">Удалить</button>
                </form>
                <input type="checkbox" name="studentIds" th:value="${student.id}">
            </li>
        </th:block>
    </ul>
<h1>Мультиудаление</h1>
<!--<form action="/students/multidelete" method="post" style="margin-top: 20px">-->
<!--    <ul>-->
<!--        <th:block th:each="student : ${students}">-->
<!--            <li>-->
<!--                <span th:text="${student.id} + ' ' + ${student.name} + ' ' + ${student.secondname} + ' ' + ${student.groupName} + ' ' + ${student.faculty} + ' ' + ${student.course} + ' ' + ${student.exist} "></span>-->
<!--                <input type="checkbox" name="studentIds" th:value="${student.id}">-->
<!--            </li>-->
<!--        </th:block>-->
<!--    </ul>-->
<!--    <input type="submit" name="deleteType" value="Delete Logical">Удалить логически-->
<!--    <input type="submit" name="deleteType" value="Delete Physical">Удалить физически-->
<!--</form>-->

<!-- Pagination -->
<!--<div>-->
<!--    <ul>-->
<!--        <li th:if="${currentPage > 1}">-->
<!--            <a th:href="@{/students(page=${currentPage - 1})}">Previous</a>-->
<!--        </li>-->
<!--        <li th:each="i : ${#numbers.sequence(1, totalPages)}">-->
<!--            <a th:href="@{/students(page=${i})}" th:class="${currentPage == i} ? 'active' : ''">-->
<!--                [[${i}]]-->
<!--            </a>-->
<!--        </li>-->
<!--        <li th:if="${currentPage < totalPages}">-->
<!--            <a th:href="@{/students(page=${currentPage + 1})}">Next</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

</body>
</html>